<div class="categorias-page">


    <!-- HEADER -->

    <div class="page-header">


        <div>

            <h2>

                <i class="fa-solid fa-layer-group"></i>

                Categorias

            </h2>


            <p>

                Organização dos livros por categorias

            </p>


        </div>




        <button class="btn-add">

            <i class="fa-solid fa-plus"></i>

            Nova Categoria

        </button>



    </div>








    <!-- RESUMO -->

    <div class="row g-4 mb-4">



        <div class="col-xl-3 col-md-6">


            <div class="category-card">


                <div class="category-icon blue">

                    <i class="fa-solid fa-layer-group"></i>

                </div>


                <div>

                    <span>

                        Total Categorias

                    </span>


                    <h3>

                        18

                    </h3>


                </div>


            </div>


        </div>








        <div class="col-xl-3 col-md-6">


            <div class="category-card">


                <div class="category-icon green">

                    <i class="fa-solid fa-book"></i>

                </div>


                <div>

                    <span>

                        Livros Catalogados

                    </span>


                    <h3>

                        1.540

                    </h3>


                </div>


            </div>


        </div>








        <div class="col-xl-3 col-md-6">


            <div class="category-card">


                <div class="category-icon orange">

                    <i class="fa-solid fa-star"></i>

                </div>


                <div>

                    <span>

                        Mais Popular

                    </span>


                    <h3>

                        Tecnologia

                    </h3>


                </div>


            </div>


        </div>








        <div class="col-xl-3 col-md-6">


            <div class="category-card">


                <div class="category-icon purple">

                    <i class="fa-solid fa-chart-line"></i>

                </div>


                <div>

                    <span>

                        Crescimento

                    </span>


                    <h3>

                        +12%

                    </h3>


                </div>


            </div>


        </div>



    </div>








    <!-- TABELA -->


    <div class="table-card">



        <div class="table-header">


            <div class="search-area">


                <i class="fa-solid fa-search"></i>


                <input type="text" id="searchCategory" placeholder="Pesquisar categoria...">


            </div>



        </div>








        <div class="table-responsive">



            <table id="categoriesTable" class="table align-middle">


                <thead>


                    <tr>


                        <th>

                            Categoria

                        </th>


                        <th>

                            Descrição

                        </th>


                        <th>

                            Total Livros

                        </th>


                        <th>

                            Estado

                        </th>


                        <th>

                            Data Criação

                        </th>


                        <th>

                            Ações

                        </th>


                    </tr>


                </thead>







                <tbody>



                    <tr>



                        <td>


                            <div class="category-name">


                                <div class="small-icon">


                                    <i class="fa-solid fa-code"></i>


                                </div>


                                Tecnologia


                            </div>



                        </td>





                        <td>

                            Livros de programação e informática

                        </td>




                        <td>

                            350

                        </td>





                        <td>


                            <span class="status active">

                                Ativa

                            </span>


                        </td>





                        <td>

                            03/01/2026

                        </td>






                        <td>


                            <div class="action-buttons">


                                <button class="action view">

                                    <i class="fa-solid fa-eye"></i>

                                </button>



                                <button class="action edit">

                                    <i class="fa-solid fa-pen"></i>

                                </button>



                                <button class="action delete">

                                    <i class="fa-solid fa-trash"></i>

                                </button>


                            </div>


                        </td>



                    </tr>






                    <tr>



                        <td>


                            <div class="category-name">


                                <div class="small-icon">


                                    <i class="fa-solid fa-heart"></i>


                                </div>


                                Romance


                            </div>



                        </td>





                        <td>

                            Literatura romântica

                        </td>




                        <td>

                            220

                        </td>





                        <td>


                            <span class="status active">

                                Ativa

                            </span>


                        </td>





                        <td>

                            15/02/2026

                        </td>






                        <td>


                            <div class="action-buttons">


                                <button class="action view">

                                    <i class="fa-solid fa-eye"></i>

                                </button>



                                <button class="action edit">

                                    <i class="fa-solid fa-pen"></i>

                                </button>



                                <button class="action delete">

                                    <i class="fa-solid fa-trash"></i>

                                </button>


                            </div>


                        </td>



                    </tr>



                </tbody>



            </table>



        </div>



    </div>




</div>